@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

:root {
    --font-family: 'Open Sans', sans-serif;
    --text-weight: 400;
    --title-size: 48px;
    --text-size: 16px;
    --text-color-dark: #333;
    --text-color-light: #fff;
    --background-dark: #000;
    --background-light: #fff;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-family);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    border: none;
    border-color: transparent;
    background-color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

/* header */
.header {
    background-color: var(--background-dark);
    padding-top: 30px;
    padding-bottom: 27px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav {
    width: 65%;
    max-width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    padding: 4px;
    color: var(--text-color-light);
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: color 0.3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background-color .3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color .3s ease-in-out;
}

.nav__link:hover {
    background-color: #9D5CD0;
}

.nav__link:focus {
    outline: none;
    color: #C283F3;
    background-color: var(--background-dark);
}

.nav__link:active {
    color: #7943A4;
    background-color: var(--background-dark);
}

.header__button {
    outline: none;
    cursor: pointer;
    padding: 4px;   
    transform: translateX(4px);
}

.header__button,
.header__button svg path,
.header__button svg rect {
    -webkit-transition: fill 0.3s ease-in-out, background-color .3s ease-in-out, stroke 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out, background-color .3s ease-in-out, stroke 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out, background-color .3s ease-in-out, stroke 0.3s ease-in-out;
}

.header__button:hover  {
    background-color: #9D5CD0;
}

.header__button:focus {
    background-color: var(--background-dark);
}

.header__button:focus svg path,
.header__button:focus svg rect {
    fill: #C283F3;
}

.header__button:active {
    background-color: var(--background-dark);
}

.header__button:active svg path,
.header__button:active svg rect {
    fill: #7943A4;
}

/* preview */
.preview {
    background: url(../img/birmingham-museums-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 146px;
    padding-bottom: 149px;
}

.preview__title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    max-width: 69%;
    font-weight: 700;
    font-size: 72px;
    line-height: 94%;
    color: var(--background-light);
}

.preview__text {
    margin: 0;
    padding: 0;
    margin-bottom: 95px;
    max-width: 38%;
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
    color: var(--background-light);
}

.preview__button {
    padding: 22px 35px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--background-light);
    background-color: #9d5cd0;
    border-radius: 100px;
    -webkit-transition: outline 0.2s ease-in-out, background-color .3s ease-in-out, outline-offset 0.3s ease-in-out;
    -o-transition: outline 0.2s ease-in-out, background-color .3s ease-in-out, outline-offset 0.3s ease-in-out;
    transition: outline 0.2s ease-in-out, background-color .3s ease-in-out, outline-offset 0.3s ease-in-out;
}

.preview__button:hover {
    outline: solid #D1A9F0 3px;
}

.preview__button:focus {
    outline: solid #C283F3 3px;
    outline-offset: 3px;
}

.preview__button:active {
    background-color: #7943A4;
    outline: solid #D1A9F0 3px;
}

/*about*/
.about {
    padding-top: 85px;
    padding-bottom: 70px;
    background-color: var(--background-light);
}

.about__title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: var(--text-weight);
    font-size: var(--title-size);
    color: var(--text-color-dark);
}

.about__text {
    margin: 0;
    padding: 0;
    max-width: 66%;
    font-weight: var(--text-weight);
    font-size: var(--text-size);
    line-height: 200%;
    color: var(--text-color-dark);
}

/*gallery*/
.gallery{
    background: url(../img/gallery-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 46px;
    padding-bottom: 76px;
}

.gallery__title {
    margin-bottom: 25px;
    font-weight: var(--text-weight);
    font-size: var(--title-size);
    color: var(--text-color-light);
}

.gallery__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.gallery__checks {
    margin-right: 20px;
}

.gallery__text {
    position: relative;
    margin: 0;
    margin-bottom: 13px;
    font-weight: var(--text-weight);
    font-size: var(--text-size);
    color: var(--text-color-light);
}

.gallery__label {
    padding-left: 20px;
    cursor: pointer;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.gallery__checkbox {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    outline: solid var(--text-color-light);
    -webkit-transition: outline 0.3s ease-in-out, background-image  0.3s ease-in-out;
    -o-transition: outline 0.3s ease-in-out, background-image  0.3s ease-in-out;
    transition: outline 0.3s ease-in-out, background-image  0.3s ease-in-out;
}

.gallery__input {
    width: 20px;
    height: 20px;
}

.gallery__checkbox:hover + .gallery__input {
    outline: solid #c283f3;
}

.gallery__input:hover + .gallery__checkbox {
    outline: solid #c283f3;
}

.gallery__input:focus + .gallery__checkbox {
    outline: solid #c283f3;
}

.gallery__input:active + .gallery__checkbox {
    outline: solid #c283f3;
}

.gallery__input:focus + .gallery__checkbox + .gallery__label {
    color: #c283f3;
}

.gallery__input:active + .gallery__checkbox + .gallery__label {
    color: #c283f3;
}

.gallery__input:checked + .gallery__checkbox {
    outline: solid #c283f3;
    background-image: url(../img/check-on.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.gallery__input:checked + .gallery__checkbox + .gallery__label{
    color: #C283F3;
}

.gallery__label:hover {
    color: #c283f3;
}


.gallery__list {
    display: flex;
    gap: 50px;
}

/* catalog */
.catalog {
    padding-top: 80px;
    padding-bottom: 84px;
}

.catalog__title {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-weight: var(--text-weight);
    font-size: var(--title-size);
    color: var(--text-color-dark);
}

.catalog__descr {
    margin: 0;
    padding: 0;
    max-width: 68%;
    margin-bottom: 38px;
    font-weight: var(--text-weight);
    font-size: var(--text-size);
    line-height: 200%;
    color: var(--text-color-dark);
}

.catalog__text {
    margin: 0;
    padding: 0;
    font-weight: var(--text-weight);
    font-size: var(--text-size);
    line-height: 200%;
    color: var(--text-color-dark);
}

.catalog__list {
    display: flex;
    flex-direction: column;
    gap: 47px;
}

.catalog__item {
    display: flex;
    gap: 50px;
}

.catalog__article {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog__artist {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    color: #333;
}

.catalog__time {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    color: #999;
}

/* events */
.events {
    padding-bottom: 85px;
}

.events__title {
    margin: 0;
    margin-bottom: 21px;
    font-weight: 400;
    font-size: var(--title-size);
    color: var(--text-color-dark);
}

.events__item {
    width: 500px;
    outline: solid #CACACA 1px;
}

.events__list {
    display: flex;
    gap: 50px;
}

.events__article {
    min-height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 50px;
}

.events__place, .events__time {
    font-weight: 600;
    font-size: 12px;
    color: #999;
}

.events__wrapper {
    display: flex;
    flex-direction: column;
}

.events__time {
    margin-bottom: 18px;
}

.events__name {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-dark);
}

.events__text {
    margin: 0;
    width: 90%;
    font-weight: var(--text-weight);
    font-size: var(--text-size);
    line-height: 200%;
    color: var(--text-color-dark);
}

.events__link {
    position: relative;
    width: 88px;
    margin-bottom: 39px;
    cursor: pointer;
    font-weight: var(--text-weight);
    font-size: var(--text-size);
    line-height: 200%;
    color: #9d5cd0;
    text-decoration: none;
    transition: color 0.3s ease-out, background 0.3s ease-out;
}

.events__link:focus {
    outline: none;
    border: none;
}

.events__link:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px;
	background-color: #9d5cd0;
	content: "";
	transition: width 0.3s ease-out, color 0.3s ease-out;
}

.events__link:hover:after,
.events__link:focus:after {
    width: 100%;
}

.events__link:active {
    color: var(--text-color-dark);
}

.events__link:active:after {
    background-color: var(--text-color-dark);
}

/* projects */
.projects {
    padding-bottom: 82px;
}

.projects__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: var(--text-weight);
    font-size: var(--title-size);
    color: var(--text-color-dark);
}

.projects__text {
    margin: 0;
    margin-bottom: 30px;
    max-width: 67%;
    font-weight: var(--text-weight);
    font-size: var(--text-size);
    line-height: 200%;
    color: var(--text-color-dark);
}

.partners__title {
    margin: 0;
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #333;
}

.partners__list {
    display: flex;
    gap: 33px;
}

/* footer */
.footer-top {
    outline: 1px solid #cacaca;
}

.footer-top__wrapper {
    padding-top: 34px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adress{ 
    display: flex;
    flex-direction: column;
}

.adress__name {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--text-color-dark);
}

.adress__date {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--text-color-dark);
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.input {
    padding-left: 24px;
    border: 1px solid #333;
    border-radius: 100px;
    width: 270px;
    height: 50px;
    transition: background .3s ease-in-out;
}

.input:hover,
.input:focus {
    background: #ececec;
    outline: none;
}

.button {
    border: 2px solid #9d5cd0;
    border-radius: 100px;
    padding: 13px 28px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: #9d5cd0;
    background: var(--background-light);
    transition: outline .3s ease-in-out, outline-offset .3s ease-in-out;
}

.button-on-small-screen {
    display: none;
    max-width: 44%;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
    padding: 11px 35px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #9d5cd0;
    background: var(--background-light);
    transition: outline .3s ease-in-out, outline-offset .3s ease-in-out;
}

.button-on-small-screen:hover,
.button-on-small-screen:focus {
    outline: solid #d1a9f0 3px;
    outline-offset: 3px;
}

.button-on-small-screen:active {
    outline-offset: 6px;
}

.button:hover,
.button:focus {
    outline: solid #d1a9f0 3px;
    outline-offset: 3px;
}

.button:active {
    outline-offset: 6px;
}

.contact__title {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--text-color-dark);
}

.contact__list {
    display: flex;
    gap: 21px;
}

.contact__link:focus {
    outline: none;
    border: none;
}

.contact__link--whats-app:focus .whats-app {
    opacity: 70%;
}

.contact__link--telegram:focus .telegram {
    opacity: 70%;
}

.whats-app,
.telegram {
    transition: opacity .3s ease-in-out, outline .3s ease-in-out;
}

.green {
    transition: fill .3s ease-in-out;
}

.blue {
    transition: fill .3s ease-in-out;
}

.whats-app:hover,
.telegram:hover,
.whats-app:focus,
.telegram:focus {
    opacity: 70%;
}

.whats-app:active {
    opacity: 100%;
}

.whats-app:active .green {
    fill: #30ae39;
} 

.telegram:active {
    opacity: 100%;
}

.telegram:active .blue {
    fill: #0496c7;
} 

.footer-botom {
    background-color: var(--background-dark);
}

.footer-botom__wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    gap: 20px;
}

.social-media__link:focus {
    outline: none;
}

.vk path {
    transition: fill .3s ease-in-out;
}

.ok path {
    transition: fill .3s ease-in-out;
}

.social-media__link:focus svg path {
    fill: var(--background-light);
}

.social-media__link:hover svg path {
    fill: var(--background-light);
}

.social-media__link:active svg path {
    fill: #9D5CD0;
}

